body {
    margin: 0em;
    background-color: white;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
  }
  
  .ks_logo {
    width: 100%;
    padding: 1.9em 0em 2em 0em;
    z-index: 99999;
    background-color: rgba(255, 255, 255, 0.77);
    position: absolute;
  }
  
  .icimg {
    width: 8.5em;
    margin-left: 2em;
  }
  
  .opts {
    float: right;
    display: inline-flex;
  }
  
  .opts_itms {
    padding: 0em 1em;
    color: #95989A;
  }
  
  .opts_itms:hover {
    color: cornflowerblue;
    cursor: pointer;
  }

  .opts{
    margin-right: 1em;
  }
  