  .callfa {
    display: block;
    max-width: 64em;
    padding: 6em 4em;
  }
  .cal_btn {
    /*position: absolute;*/
    display: inline;
    cursor: pointer;
  }
  .mico {
    color: #ffffff;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .mtxt {
    display: inline;
    color: #ffffff;
    margin-right: 0.1em;
  }
  .insub{
    height: 3.5em;
  }
  .minpt {
    height: 100%;
    float: left;
  }
  .minpt[type='text'] {
    padding: 0em 0em 0em .8em;
    font-size: 1.9em;
    border-radius: .2em 0em 0em .2em;
    color: #95989A;
    border: 0.045em solid #2296f3;
    width: 55%;
    outline: inherit !important;
  }
  ::-webkit-input-placeholder {
    opacity: .3 !important;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    opacity: .3 !important;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    opacity: .3 !important;
  }
  :-ms-input-placeholder {
    opacity: .3 !important;
  }
  .mbtn {
    float: left;
    cursor: pointer;
    height: 100%;
    max-width: 8.1em;
    min-width: 6.2em;
    border-radius: 0em .5em .5em 0em;
    background: #2196F3 !important;
    color: inherit;
    border: none;
    padding: 0! important;
    font: inherit;
    outline: inherit !important;
  }
  .centercontents{
    display: table-cell;
    Vertical-align: middle;
  }
  /*  
      display: table-cell;
      Vertical-align: middle; check the top and left padding
  */
  